.card-img {
  width: 200px;
  height: 200px;
}

#type-pokemon {
  margin: 15px 0px;

  div + div{
      margin-left: 5px;
  }
}

.description-card {
  background: #fff;
  border-radius: 30px;
}

.type {
  font-size:14px;
  font-weight: 700;
  border-radius: 30px;
  padding: 3px 5px;;
  text-align: center;
}

.favorite {
  cursor: pointer;
}

.container-card {
  border-radius: 30px;
}
