<div class="d-flex justify-content-between flex-column w-100 h-100">
  <div>
    <header class="shadow border-bottom">
      <div class="container-imgs">
        <img class="img-main" src="./assets/img/btn-main.png">
        <img class="img-small" src="./assets/img/btn-small1.png">
        <img class="img-small" src="./assets/img/btn-small2.png">
        <img class="img-small" src="./assets/img/btn-small3.png">
      </div>
      <div>
        <img class="img-main" src="./assets/img/pokedex.png">
      </div>
      <div></div>
    </header>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
