<div class="d-flex justify-content-between flex-column w-100 h-100">
  <div>
    <header class="shadow d-flex justify-content-between align-items-center border-bottom-custom">
      <div class="container-imgs">
        <img [routerLink]="['/home']" class="img-main cursor-pointer" src="./assets/img/btn-main.png">
        <img class="img-small" src="./assets/img/btn-small1.png">
        <img class="img-small" src="./assets/img/btn-small2.png">
        <img class="img-small" src="./assets/img/btn-small3.png">
      </div>
      <div class="pr-2">
        <img [routerLink]="['/home']" class="img-main cursor-pointer" src="./assets/img/pokedex.png">
      </div>
    </header>
    <router-outlet></router-outlet>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
