header {
  height: 60px;
  background: var(--color-default);
}

.img-main {
  widows: 50px;
  height: 50px;
}

.img-small {
  height: 15px;
  width: 15px;
  margin-right: 3px;
}

.container-imgs {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
}

.border-bottom-custom {
  border-bottom: 1px solid #000!important;
}

.cursor-pointer {
  cursor: pointer;
}
