.green{color: green;}
.card-text{
    font-size: 13px !important;
}
.text-muted{
    font-size: 18px;
}

.more-info {
  cursor: pointer;
}

.current-page {
  position: fixed;
  bottom: 76px;
  right: 22px;
  font-weight: 600;
}

::ng-deep {
  .ngx-pagination .current {
    background: var(--color-default)!important;
  }
}
