@import "~bootstrap/dist/css/bootstrap.min.css";

:root {
  --color-default: #ce1030;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font: 14px Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased !important;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: dedede;
}

.flying {
  --primary: #79A4FF;
  background-color: #79A4FF;
}

.normal {
  --primary: #BCBCAE;
  background-color: #BCBCAE;
}

.fire {
  --primary: #FA5543;
  background-color: #FA5543;
}

.grass {
  --primary: #8DD851;
  background-color: #8DD851;
}

.water {
  --primary: #56AEFF;
  background-color: #56AEFF;
}

.fighting {
  --primary: #A85645;
  background-color: #A85645;
}

.poison {
  --primary: #A65B9E;
  background-color: #A65B9E;
}

.ground {
  --primary: #E5C654;
  background-color: #E5C654;
}

.rock {
  --primary: #CBBB71;
  background-color: #CBBB71;
}

.bug {
  --primary: #C2D21F;
  background-color: #C2D21F;
}

.ghost {
  --primary: #7773D3;
  background-color: #7773D3;
}

.electric {
  --primary: #FDE53C;
  background-color: #FDE53C;
}

.psychic {
  --primary: #FA65B5;
  background-color: #FA65B5;
}

.ice {
  --primary: #96F1FF;
  background-color: #96F1FF;
}

.dragon {
  --primary: #8A76FF;
  background-color: #8A76FF;
}

.dark {
  --primary: #8E6955;
  background-color: #8E6955;
}

.steel {
  --primary: #C4C2DA;
  background-color: #C4C2DA;
}

.fairy {
  --primary: #FAADFF;
  background-color: #FAADFF;
}

.fairy-secondary {
  --secondary: #FAADFF;
  background-color: #FAADFF;
}

.steel-secondary {
  --secondary: #C4C2DA;
  background-color: #C4C2DA;
}

.dark-secondary {
  --secondary: #8E6955;
  background-color: #8E6955;
}

.dragon-secondary {
  --secondary: #8A76FF;
  background-color: #8A76FF;
}

.ice-secondary {
  --secondary: #96F1FF;
  background-color: #96F1FF;
}

.psychic-secondary {
  --secondary: #FA65B5;
  background-color: #FA65B5;
}

.electric-secondary {
  --secondary: #FDE53C;
  background-color: #FDE53C;
}

.ghost-secondary {
  --secondary: #7773D3;
  background-color: #7773D3;
}

.bug-secondary {
  --secondary: #C2D21F;
  background-color: #C2D21F;
}

.rock-secondary {
  --secondary: #CBBB71;
  background-color: #CBBB71;
}

.ground-secondary {
  --secondary: #E5C654;
  background-color: #E5C654;
}

.poison-secondary {
  --secondary: #A65B9E;
  background-color: #A65B9E;
}

.fighting-secondary {
  --secondary: #A85645;
  background-color: #A85645;
}

.water-secondary {
  --secondary: #56AEFF;
  background-color: #56AEFF;
}

.grass-secondary {
  --secondary: #8DD851;
  background-color: #8DD851;
}

.fire-secondary {
  --secondary: #FA5543;
  background-color: #FA5543;
}

.normal-secondary {
  --secondary: #BCBCAE;
  background-color: #BCBCAE;
}

.flying-secondary {
  --secondary: #79A4FF;
  background-color: #79A4FF;
}

.gradient {
  background-image: linear-gradient(var(--primary), var(--secondary));
}
