#container {
  display: flex;
  width: 70%;
  margin: 20px auto 5px auto;
  border-radius: 5px 5px 50px 5px;
  justify-content: space-between;
}

#name-pokemon {
  margin: 0px;
}

#description-pokemon {
  margin: 0;
}

#type-pokemon {
  margin: 15px 0px;

  div+div {
    margin-left: 5px;
  }

  display: flex;
  align-items: center;
}

#detail {
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
  padding: 20px 50px;
  background-color: white;
  min-height: 300px;
  padding-bottom: 2rem;
}

.content {
  padding-top: 15px;
  display: flex;
  flex-flow: row wrap;
}

#names-data-container {
  width: 45%;
  display: flex;
  flex-flow: column wrap;
  min-width: 150px;
}

#values-data-container {
  width: 20%;
  display: flex;
  padding-left: 4px;
  flex-flow: column wrap;
}

#name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

#image-pokemon img {
  width: 300px;
  margin: 0 auto;
  display: block;
}

#image-pokemon {
  margin: 0 auto;
}

#main-nav {
  display: flex;
}

#main-nav div {
  margin-left: 10px;
  margin-right: 10px;
}

.horizontal-scroll {
  overflow-x: scroll;
}

.horizontal-scroll::-webkit-scrollbar {
  display: none;
}

.horizontal-scroll::-moz-scrollbar {
  display: none;
}

.navItemSelect {
  border-width: 0px 0px 2px 0px !important;
  border-color: black !important;
  border-style: solid !important;
}


#main-nav div {
  cursor: pointer;
  border-width: 0px 0px 2px 0px;
  border-style: none;
  border-color: transparent;
  padding: 20px 0px;
  transition: border-color .5s;
}

.type {
  font-size:14px;
  font-weight: 700;
  border-radius: 30px;
  padding: 3px 5px;;
  text-align: center;
}

.h-footer {
  height: 40px;
}

.container-detail {
  min-height: calc(100% - 40px);
}



@media (min-width: 640px) {
  #detail {
    width: 70%;
  }
}
