.loader {
  border: 0.3rem solid white;
  border-radius: 50%;
  border-top: 0.3rem solid #9fa6ad;
  width: 4rem;
  height: 4rem;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-small {
  width: 2rem;
  height: 2rem;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 9999 !important;
  background-color: rgba(233, 236, 239, 0.77);
  display: flex;
  justify-content: center;
  align-items: center;
}

.global {
  z-index: 9999999999 !important;
}

.global-loading {
  position: fixed;
  top: 50vh;
}


$width: 50px;
$button-width: 10px;
$spacing: 4px;
$color: #CF283A;
$border-width: (($width - $button-width) / 2) - (2/3 * $spacing);
$rotation-speed: 1.5s;

body {
  background-color: #F1F1F1;
  height: 100%;
}

.pokeball {
  width: $width;
  height: $width;
  animation: rotate $rotation-speed linear infinite;
  left: calc(50% - #{$width / 2});
  display: inline-block;
  position: absolute;
  top: calc(50% - #{$width / 2});

  .inner {
    width: $width;
    height: $width / 2;
    border: $border-width solid $color;
    box-sizing: border-box;
  }

  .upper,
  .lower {
    width: 100%;
    position: absolute;
    height: calc(50% - #{$spacing / 2});
    overflow: hidden;
  }

  .upper {
    top: 0;

    .inner {
      border-radius: (($width / 2) + $border-width) (($width / 2) + $border-width) 0 0;
      border-bottom: 0;
      margin-bottom: -$spacing / 2;
    }
  }

  .lower {
    bottom: 0;

    .inner {
      margin-top: -$spacing / 2;
      border-radius: 0 0 (($width / 2) + $border-width) (($width / 2) + $border-width);
      border-top: 0;
    }
  }

  .middle {
    border-radius: 50%;
    width: $button-width;
    height: $button-width;
    background-color: $color;
    position: absolute;
    left: calc(50% - #{$button-width / 2});
    top: calc(50% - #{$button-width / 2});
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
